<h1 class="text-center mb-5">Danh sách từ đã duyệt</h1>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Từ tiếng Anh</th>
          <th scope="col">Nghĩa tiếng Anh</th>
          <th scope="col">Từ tiếng Việt</th>
          <th scope="col">Nghĩa tiếng Việt</th>
          <th scope="col">Ảnh minh họa</th>
          <th scope="col">Các từ liên quan</th>
          <!-- <th scope="col">Trạng thái</th> -->
          <!-- <th scope="col" colspan="2" class="text-center">Hành động</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of wordList ; index as i">
          <th scope="row">{{i+1}}</th> 
          <td>{{word.tu_en}}</td>
          <td>{{word.nghia_en}}</td>
          <td>{{word.tu_vi}}</td>
          <td>{{word.nghia_vi}}</td> 
          <td><img src="{{word.anh}}" alt="anh"></td>
          <td>{{word.tu_lienquan}}</td>
          <!-- <td>{{word.status}}</td> -->
          <!-- <td><a routerLink='/user/edit-word' type="button" class="btn btn-primary" (click)="getWordId(word._id)">Edit</a></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteWord(word._id)">Delete</button></td> -->
        </tr>
      </tbody>
    </table>

