<h1 class="mb-3 text-center">Thêm từ</h1>
  <form [formGroup]="form" #addForm="ngForm" (submit)="form.valid && createWord()">
        <div class="d-flex" formGroupName="tu">
          <div class="col-3">
            <h6>Từ tiếng Anh: </h6>
            <input type="text" formControlName="tu_en" required class="input">
          </div>
          <div class="col-3 mx-2">
            <h6 for="tu_loai">Từ loại: </h6>
            <select name="tu_loai"  formControlName="tu_loai" required>
              <option value="(n)">(n)</option>
              <option value="(adj)">(adj)</option>
              <option value="(adv)">(adv)</option>
              <option value="(v)">(v)</option>
            </select>
          </div>
          <div class="col-3 mx-3">
            <h6 for="phien_am">Phiên âm:</h6>
            <input type="text" name="phien_am" formControlName="phien_am" required class="input">
          </div>
        </div>
        <div *ngIf="addForm.submitted && tu.invalid">
          <label class="validation-message"> This field is required.</label>
        </div>
        <div class="mx-3 my-3">
          <h6 >Nghĩa tiếng Anh:</h6>
          <textarea class="form-control" rows="4" name="nghia_en" formControlName="nghia_en" ></textarea>
        </div>
        <div class="mx-3 my-3">
            <h6 >Nghĩa tiếng Việt:</h6>
            <textarea class="form-control" rows="4" name="nghia_vi" formControlName="nghia_vi" required></textarea>
            <div *ngIf="addForm.submitted && form.controls.nghia_vi?.errors?.required">
              <label class="validation-message"> This field is required.</label>
            </div>
        </div>
        <div class="form-group d-flex">
          <h6 class="col-3">Ảnh minh họa: </h6>
          <input type="file" class="form-control-file col-5" name="anh" (change)="onFileSelect($event)">
        </div>
        <img [src]="imgData">
        <div class="my-3">
          <h6 class="mx-3 d-inline">Các từ liên quan:</h6>
          <p *ngIf="!tu_lienquan.controls.length" class="btn btn-info btn-sm" (click)="addTu_lienquan($event)">Add</p>
          <p *ngIf="tu_lienquan.controls.length" class="d-inline">Nhấn tab để thêm từ liên quan.</p>
        </div>
          <div formArrayName="tu_lienquan" *ngIf="tu_lienquan.controls.length">
            <div *ngFor="let tu_lq of tu_lienquan.controls; let i=index" class="mb-3">
              <div [formGroupName]="i" class="d-flex">
                <button class="btn btn-danger btn-sm mt-4 ml-3" (click)="removeTu_lienquan(i)">X</button>
                <div class="col-6">
                  Từ tiếng Anh: 
                  <input type="text" class="pl-2" list="datalistOption" formControlName="id_tu" (keydown.tab)="addTu_lienquan($event)" required>
                  <!-- <select name="id_tu"  formControlName="id_tu" required>
                    <option *ngFor="let word of wordListFilter" value={{word.id}}>{{word.tu.tu_en}}{{word.tu.tu_loai}}{{word.tu.phien_am}}</option>
                  </select> -->
                  <datalist id="datalistOption">
                    <option *ngFor="let word of wordListFilter" value={{word.id}}> {{word.tu.tu_en}} {{word.tu.tu_loai}}{{word.tu.phien_am}}{{word.nghia_vi}}
                  </datalist>
                </div>
              </div>
              <div *ngIf="addForm.submitted && tu_lienquan.controls[i].get('id_tu').errors?.required">
                <label class="validation-message text-left ml-3"> This field is required.</label>
              </div>
            </div>
          </div>
      <div class="text-center mt-4">
        <button type="reset" class="btn btn-primary my-3 mx-3" >Reset</button>
        <button type="submit" class="btn btn-primary my-3 mx-3" >Save</button>
      </div>
  </form>

