<nav id="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mx-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
        </ul>
      </div>
    </nav>
</nav>
<h1 class="text-center mb-5">Danh sach tu can duyet</h1>
<form (ngSubmit)="updateWordList()">
  <div class="ml-5 pl-3">
    <input type="checkbox" class="mx-2" name="checkbox_all" [(ngModel)]="isSelected" (change)="checkUncheckAll()">
    <label for="checkbox_all">Chon tat ca:</label>
    <select class="mx-2" name="statusChecked" [(ngModel)]="status">
        <option value="Da duyet">Duyet</option>
        <option value="Tu choi">Tu choi</option>
    </select>
    <button type="submit" class="btn btn-primary mx-2" [disabled]="isDisableBtn">Thuc hien</button>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">STT</th>
        <th scope="col">Tu tieng anh</th>
        <th scope="col">nghia tieng anh</th>
        <th scope="col">Tu tieng viet</th>
        <th scope="col">nghia tieng viet</th>
        <th scope="col">anh minh hoa</th>
        <th scope="col">Cac tu lien quan</th>
        <th scope="col" colspan="2">Hanh dong</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of wordList; index as i">
        <td><input type="checkbox" name="itemCheckbox" [(ngModel)]="word.isChecked" (change)="isAllSelected()"></td>
        <th scope="row">{{i+1}}</th>
        <td>{{word.tu_en}}</td>
        <td>{{word.nghia_en}}</td>
        <td>{{word.tu_vi}}</td>
        <td>{{word.nghia_vi}}</td>
        <td><img src="" alt="anh"></td>
        <td>{{word.tu_lienquan}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateWordStatus(word._id,'da duyet')">Duyet</button></td>
        <td><button type="button" class="btn btn-danger" (click)="updateWordStatus(word._id,'tu choi')">Tu_choi</button></td>
      </tr>
    </tbody>
  </table>
</form>

