table{
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-left: 10%;
}
.action{
    margin-left: 10%;
}

#menu{
    position: sticky;
    top:0;
}
.modal-header{
    border-bottom: none;
}

.modal label{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
}