
<h1 class="text-center mb-3">Sửa từ</h1>
<form [formGroup]="form" #editForm="ngForm" (submit)="form.valid && updateWord()">
  <div class="d-flex">
    <div class="col-6">
      <div class="form-group">
        <label for="word_en">Từ tiếng Anh</label>
        <input type="text" class="form-control" formControlName="tu_en" required>
        <div *ngIf="editForm.submitted && form.controls.tu_en?.errors?.required ">
          <label class="validation-message"> This field is required.</label>
        </div>
      </div>
      <div class="form-group">
        <label >Nghĩa tiếng Anh</label>
        <textarea class="form-control" name="nghia_en" formControlName="nghia_en" required></textarea>
        <div *ngIf="editForm.submitted && form.controls.nghia_en?.errors?.required ">
          <label class="validation-message"> This field is required.</label>
        </div>
      </div>
      <div class="form-group">
          <label >Từ tiếng Việt</label>
          <input type="text" class="form-control" name="tu_vi" formControlName="tu_vi" required>
          <div *ngIf="editForm.submitted && form.controls.tu_vi?.errors?.required ">
            <label class="validation-message"> This field is required.</label>
          </div>
      </div>
      <div class="form-group">
          <label >Nghĩa tiếng Việt</label>
          <textarea class="form-control" rows="3" name="nghia_vi" formControlName="nghia_vi" required></textarea>
          <div *ngIf="editForm.submitted && form.controls.nghia_vi?.errors?.required ">
            <label class="validation-message"> This field is required.</label>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label >Các từ liên quan</label>
        <textarea class="form-control"  rows="3" name="tu_lienquan" formControlName="tu_lienquan" required></textarea>
        <div *ngIf="editForm.submitted && form.controls.tu_lienquan?.errors?.required ">
          <label class="validation-message"> This field is required.</label>
        </div>
      </div>
      <div class="form-group d-flex">
          <label class="col-4">Ảnh minh họa: </label>
          <input type="file" class="form-control-file" name="anh" (change)="onFileSelect($event)">
      </div>
      <div>
        <img [src]="imgData">
      </div>
    </div>
  </div>
  <div class="text-center">
      <button type="submit" class="btn btn-primary my-3" >Save</button>
  </div>
</form>