<h1 class="text-center mb-5">Danh sách cần duyệt</h1>
    <form (ngSubmit)="updateWordList()">
      <div class="ml-5 pl-3">
        <input type="checkbox" class="mx-2" name="checkbox_all" [(ngModel)]="isSelected" (change)="checkUncheckAll()">
        <label for="checkbox_all">Chọn tất cả:</label>
        <select class="mx-2" name="statusChecked" [(ngModel)]="status">
            <option value="Đã duyệt">Duyệt</option>
            <option value="Từ chối">Từ chối</option>
        </select>
        <button type="submit" class="btn btn-primary mx-2" [disabled]="isDisableBtn">Thực hiện</button>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">STT</th>
            <th scope="col">Từ tiếng Anh</th>
            <th scope="col">Nghĩa tiếng Anh</th>
            <th scope="col">Từ tiếng Việt</th>
            <th scope="col">Nghĩa tiếng Việt</th>
            <th scope="col">Ảnh minh họa</th>
            <th scope="col">Các từ liên quan</th>
            <th scope="col" colspan="2" class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of wordList; index as i">
            <td><input type="checkbox" name="itemCheckbox" [(ngModel)]="word.isChecked" (change)="isAllSelected()"></td>
            <th scope="row">{{i+1}}</th>
            <td>{{word.tu_en}}</td>
            <td>{{word.nghia_en}}</td>
            <td>{{word.tu_vi}}</td>
            <td>{{word.nghia_vi}}</td>
            <td><img src="{{word.anh}}" alt="anh"></td>
            <td>{{word.tu_lienquan}}</td>
            <td><button type="button" class="btn btn-primary" (click)="updateWordStatus(word._id,'Đã duyệt')">Duyệt</button></td>
            <td><button type="button" class="btn btn-danger" (click)="updateWordStatus(word._id,'Từ chối')">Từ chối</button></td>
          </tr>
        </tbody>
      </table>
    </form>
