<h1 class="text-center mb-5">Danh sách cần duyệt</h1>
<input class="form-control mr-sm-2" id="search" type="search" placeholder="Search từ tiếng Anh" aria-label="Search"(keyup)="onKey($event)">
      <table class="table">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">Từ tiếng Anh</th>
            <th scope="col">Nghĩa tiếng Anh</th>
            <!-- <th scope="col">Từ tiếng Việt</th> -->
            <th scope="col">Nghĩa tiếng Việt</th>
            <th scope="col">Ảnh minh họa</th>
            <th scope="col">Các từ liên quan</th>
            <th scope="col">Tác giả</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of wordListFilter; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{word.tu.tu_en}} {{word.tu.tu_loai}} {{word.tu.phien_am}}</td>
            <td>{{word.nghia_en}}</td>
            <td>{{word.nghia_vi}}</td>
            <td><img src="{{word.anh}}" alt="anh"></td>
            <td><p *ngFor="let tu_lq of word.tu_lienquan">{{tu_lq.id_tu}}</p></td>
            <td>{{word.id_user}}</td>
        </tr>
        </tbody>
      </table>
